.randomImg{
       width: 700px;
       height: 400px;
       border: solid black 1px;
}
.randomImg td{
       border: solid black ;
       text-align: center;
}
.randomImg td img{
       width: 100px;
       height: 100px;
}